/* src/styles/Login.css */
.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to right, #4e545a, #4e545c);
  }
  
  .login-card {
    background: rgb(255, 255, 255);
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 350px;
  }
  
  .login-card h2 {
    margin-bottom: 1rem;
    color: #333;
  }
  
  .login-card input {
    width: 100%;
    padding: 10px;
    margin-top: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box; /* Pastikan padding tidak ubah lebar */
}

.login-card input[type="password"] {
    margin-bottom: 15px; /* Jarak antara password dan button */
}

.login-card button {
    width: 100%;
    padding: 12px;
    font-size: 18px;
    background: #4e5257;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s, transform 0.2s;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    box-sizing: border-box; /* Pastikan button match input */
}

.login-card button:hover {
    background: #7c910a;
    transform: scale(1.02);
}
  
  .error-message {
    color: red;
    margin-top: 10px;
  }
  